.navbar .site-name {
    background: url(/images/logo.png) no-repeat left center;
    background-size: 36px;
    padding-left: 36px;
    width: 36px;
    overflow: hidden;
    box-sizing: border-box;
}